@model List<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CapstoneLayout.cshtml";
}

<h1>Employee List</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Staff</th>
        <th>Department</th>
        <th>Delete</th>
        <th>Edit</th>
        <th>Tasks</th>
        <th>Status</th>

    </tr>
    @foreach(var item in Model)
    {
<tr>
     <td>@item.EmployeeID</td>
     <td>@item.EmployeeName @item.EmployeeSurName</td>
     <td>@item.Category.CategoryName</td>
     <td><a href="DeleteEmployee/@item.EmployeeID" class="btn btn-outline-danger">Delete</a></td>
     <td><a href="UpdateEmployee/@item.EmployeeID" class="btn btn-outline-success">Update</a></td>
     <td><a href="#" class="btn btn-outline-dark">Tasks</a></td>
     @{
        if(item.EmployeStatus == true)
        {
           <td><a href="ChangeStatusToFalse/@item.EmployeeID" class="btn btn-outline-warning">Make Passive</a></td>
        }
        else
        {
           <td><a href="ChangeStatusToTrue/@item.EmployeeID" class="btn btn-outline-danger">Make Active</a></td>
                }
        }
</tr>
    }
</table>
<a href="AddEmployee/" class="btn btn-primary">New Staff Entrance</a>

